spring:
  datasource:
    url: jdbc:h2:mem:vehiclesdb
    username: sa
    password: 
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    
sql: 
    init:
        mode: always
        schema-locations: classpath:schema-h2.sql
        data-locations: classpath:data-h2.sql

server:
  port: 8080